<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellif.vesionbook.srstask.mapper.VideoRecorderTaskMapper">
    
    <insert id="insertSelective" parameterType="com.intellif.vesionbook.srstask.model.entity.VideoRecorderTask">
        insert into video_recorder_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="app != null and app != ''">
                app,
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                unique_id,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="path != null and path != ''">
                path,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="app != null and app != ''">
                app,
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                uniqueId,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="path != null and path != ''">
                path,
            </if>
        </trim>
    </insert>

    <!-- 条件筛选 -->
    <select id="selectByParam" resultType="com.intellif.vesionbook.srstask.model.entity.VideoRecorderTask"
            parameterType="com.intellif.vesionbook.srstask.model.dto.VideoRecorderTaskDto">
        select * from video_recorder_task
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="app != null and app != ''">
                and app = #{app,jdbcType=VARCHAR}
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                and unique_id = #{uniqueId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime,jdbcType=BIGINT}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.intellif.vesionbook.srstask.model.entity.VideoRecorderTask">
        SELECT
            `id` as id, 
            `app` as app, 
            `unique_id` as uniqueId, 
            `start_time` as startTime, 
            `end_time` as endTime, 
            `status` as status, 
            `create_time` as createTime, 
            `update_time` as updateTime
        FROM
            `video_recorder_task`
        where `id` = #{id}
    </select>

</mapper>