<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellif.vesionbook.srstask.mapper.VideoRecorderTaskMapper">

    <insert id="insertSelective" parameterType="com.intellif.vesionbook.srstask.model.entity.VideoRecorderTask">
        insert into video_recorder_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="app != null and app != ''">
                app,
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                unique_id,
            </if>
            <if test="channelId != null and channelId != ''">
                channel_id,
            </if>
            <if test="originStream != null and originStream != ''">
                origin_stream,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ossObjectName != null and ossObjectName != ''">
                oss_object_name,
            </if>
            <if test="path != null and path != ''">
                path,
            </if>
            <if test="streamType != null">
                stream_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="app != null and app != ''">
                app,
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                uniqueId,
            </if>
            <if test="channelId != null and channelId != ''">
                channelId,
            </if>
            <if test="originStream != null and originStream != ''">
                originStream,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ossObjectName != null and ossObjectName != ''">
                ossObjectName,
            </if>
            <if test="path != null and path != ''">
                path,
            </if>
            <if test="streamType != null">
                streamType,
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="com.intellif.vesionbook.srstask.model.entity.VideoRecorderTask">
        insert into video_recorder_task
        (app, unique_id, channel_id, origin_stream, start_time, end_time, status, oss_object_name, path, stream_type)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.app}, #{item.uniqueId}, #{item.channelId}, #{item.originStream}, #{item.startTime},
            #{item.endTime}, #{item.status}, #{item.ossObjectName}, #{item.path}, #{item.streamType})
        </foreach>
    </insert>

    <!-- 条件筛选 -->
    <select id="selectByParam" resultType="com.intellif.vesionbook.srstask.model.vo.rsp.VideoRecorderTaskListVo"
            parameterType="com.intellif.vesionbook.srstask.model.dto.VideoRecorderTaskDto">
        select * from video_recorder_task
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="idList != null and idList.size()>0">
                and id in
                <foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="app != null and app != ''">
                and app = #{app,jdbcType=VARCHAR}
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                and unique_id = #{uniqueId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime,jdbcType=BIGINT}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime,jdbcType=BIGINT}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectById" resultType="com.intellif.vesionbook.srstask.model.entity.VideoRecorderTask">
        SELECT * FROM video_recorder_task where id = #{id}
    </select>

    <update id="updateStatus"
            parameterType="com.intellif.vesionbook.srstask.model.dto.UpdateVideoRecorderTaskDto">
        update video_recorder_task
        set status = #{status}
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="app != null and app != ''">
                and app = #{app,jdbcType=VARCHAR}
            </if>
            <if test="uniqueId != null and uniqueId != ''">
                and unique_id = #{uniqueId,jdbcType=VARCHAR}
            </if>
            <if test="idList != null and idList.size()>0">
                and id in
                <foreach collection="idList" item="item" index="index" open="(" close=")" separator=",">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
    </update>

    <update id="updatePathById" parameterType="com.intellif.vesionbook.srstask.model.dto.UpdateVideoRecorderTaskDto">
        update video_recorder_task
        set path = #{path}, oss_object_name=#{ossObjectName}
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>